<!DOCTYPE html>
<html>
    <head>
        <%= form_tag :sessions do %> 
        <div style="margin-top:30px;">
            Email : 
            <input type="email" name="email"><br> 
            Password : 
            <input type="password" name="password"><br> 
            <input type="submit" value="Sign in"> 
        </div>
        <% end %>
    </head>
    <body>
        
    </body>
</html>
