<!DOCTYPE html>
<html>
    <head>
        <%= form_tag '/users' do %> 
        <div style="margin-top:30px;">
            Email : 
            <input type="email" name="email"><br> 
            Password : 
            <input type="password" name="password"><br>
            Password Confirmation : 
            <input type="password" name="password_confirmation"><br> 
            Name : 
            <input type="text" name="name"><br> 
            <input type="submit" value="Sign up"> 
        </div>
        <% end %>
    </head>
    <body>
        
    </body>
</html>